.topic {}

.card {
    padding-right: 0px;
    padding-left: 0px;
}

.head {
    font-size: 60px;
    margin-top: 30px;
}

.topicbody {
    height: 100vh;
}
.row{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}